.vista{
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
}

.vista h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: #2c2c2c;
}

.vista p{
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
.frase{
    margin-top: 30px;
    font-style: italic;
    color: #777;
}

