@import './AcercaDe.css';

.formulario{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.formulario input,
.formulario textarea{
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
}

.formulario input:focus,
.formulario textarea:focus{
    border-color: #999;
}

.formulario button{
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover{
    background-color: #555;
}
.contactoContainer {
    text-align: center;
}
.tituloContacto {
    font-size: 40px;   /* aquí aumentas el tamaño */
}

