h1, h2 {
    color: #222; /* Gris oscuro para títulos */
    font-family: 'Poppins', sans-serif;
}

.Encabezado {
    background-color: #c0bebe; /* Gris muy claro de fondo */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* Sombra sutil */
}

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img {
    width: 100px;
    display: block;
}

.MenuDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuDiv ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.MenuDiv a {
    text-decoration: none;
    color: #222;
    transition: all 0.2s ease;
}

.MenuDiv li {
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.25s ease;
}

.MenuDiv li:hover {
    background-color: rgba(0,0,0,0.05); /* hover suave */
}

.RedesDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

.RedesDiv img {
    width: 35px;
    height: auto;
    transition: transform 0.2s ease;
}

.RedesDiv img:hover {
    transform: scale(1.1); /* efecto sutil al pasar el mouse */
}