h1, h2 {
    color: #222;
    font-family: 'Poppins', sans-serif;
}

.Encabezado {
    background-color: #c0bebe;
    width: 100%;
    box-sizing: border-box; /* evita que el padding aumente el ancho */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* LOGO */

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img {
    width: 90px;
    display: block;
}

/* MENU */

.MenuDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuDiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.MenuDiv li {
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.MenuDiv li:hover {
    background-color: rgba(0,0,0,0.05);
}

/* REDES */

.RedesDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ARREGLA EL UL DE REDES */
.RedesDiv ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.RedesDiv li {
    list-style: none;
}

.RedesDiv img {
    width: 28px;
    height: auto;
    transition: transform 0.2s ease;
}

.RedesDiv img:hover {
    transform: scale(1.1);
}