h2{
    color: rgb(225, 163, 253);
}
h1{
    color: rgb(228, 139, 250);
}
.Encabezado{
    background-color: rgb(198, 197, 196);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.LogoDiv{
    width: 20%;
    background-color: rgb(198, 197, 196);
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
.LogoDiv img{
    width: 100px;
    display: block;
}
.MenuDiv{
    width: 60%;
    background-color: rgb(164, 163, 162);
    justify-content: center;
    align-items: center;
    display: flex;
}
.MenuDiv ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}
.MenuDiv a{
    text-decoration: none;
    color: black;
}
.MenuDiv ul li a:hover{
    padding: 10px;
    background-color: #ccc;
    border-radius: 15px;
}
.RedesDiv{
    width: 20%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}
.RedesDiv ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 50px;
    margin: 20px;
}
.RedesDiv img{
    width: 50px;
    height: auto;
    display: block;
}
