@import './AcercaDe.css';

.galeriaGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.foto{
    height: 150px;
    background-color: #ddd;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    overflow: hidden;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.foto img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.foto span{
    display: block;
    padding: 12px;
    font-size: 15px;
    color: #555;
}
.foto:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}