.promoContent {
    text-align: center;
    padding: 40px 0px;
    background-color: #fdf4f8;
    width: 100%;
}
.promoContent > div {
    width: 100%;
}

.promoContent h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.promoContent p {
    font-size: 18px;
    color: #555;
}
